@import 'neat/neat';

.default-neat-grid {
  @include grid-container;
}

.default-neat-grid__column-2 {
  @include grid-column(2);
}

.default-neat-grid__column-3 {
  @include grid-column(3);
}

.default-neat-grid__column-4 {
  @include grid-column(4);
}

.default-neat-grid__column-6 {
  @include grid-column(6);
}

.default-neat-grid__column-8 {
  @include grid-column(8);
}

.grid-item {
  text-align: center;
  vertical-align: middle;
  height: 3em;
  line-height: 3em;
  min-width: 6em;
}

.analyses-list {
}

.analysis-input {
  max-width: 90%;
}

.scrollview {
  overflow: scroll;
  height: 15em;
}


$responsive-layout-grid: (
  columns: 1,
  gutter: 1rem,
);

$responsive-layout-grid--tablet-up: (
  columns: 6,
  gutter: 1rem,
  media: "(min-width: 500px)",
);
.responsive-layout {
  @include grid-container;
}

.responsive-layout__column {
  @include grid-column(1, $responsive-layout-grid);
  margin-bottom: 2rem;

  @include grid-media($responsive-layout-grid--tablet-up) {
    @include grid-column(2);
  }
}
