@import 'variables';

body {
  height: 100%;
  background-color: $white;
  color: $black;
  font-family: 'Amiri', serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $blue;
  }
}

.hello {

}

.site-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 460px;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
}

.site-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 45em;
}

.site-cell-content {
}

.analysis-wrapper {
}

.content-wrapper {
  text-align: center;
  background-color: white;
  margin: 3em 3em 3em 3em;
  padding: 1em 1em 1em 1em;
  border: 2px $blue solid;
  border-radius: 4px;
}
